@charset "UTF-8"
@import compass/css3

// semantic ui

$yellow: #f2c61f
$orange: #e07b53
$red: #d95c5c
$green: #5bbd72
$blue: #3b83c0

.menu.simplified
  +border-radius(0)
  +box-shadow(none)
  .item:first-child, .item:last-child
    +border-radius(0)

#topbar, #bottombar
  background-color: #f6f6f6
  .ui.menu
    margin-bottom: 0
    .logo.image
      height: 2rem
      display: inline
    .item
      padding: 1rem 0.8rem
      &.logo
        padding: 0.5rem 0.8rem
        &.dropdown.item
          &>.icon
            padding-top: 0.5rem

// specific pages

#home
  ul.bxslider
    margin: 0
    img
      margin: 0 auto
  #promote
    li
      background-color: #333

#about
  #content
    padding: 2rem 1rem
    text-align: center
    background-color: #FFF
    h1
      font-size: 2rem

#news
  #header
    height: 10rem
    background-color: rgba(244, 247, 217, 1)

#join
  #header
    background-color: #fff
  #title
    background-color: $yellow
    text-align: center
  #action
    //background-color: #333
  #subscribe
    background-color: #333
  .card
    .image.photo
      height: 8rem
      img
        object-fit: cover
        height: 100%
        width: 100%
