extends _template

block head
  link(rel="stylesheet",href="css/level-one.css")
  block subhead

block body

  nav#topbar
    //-.ui.borderless.secondary.menu.simplified.horizontal.wrap
    .ui.borderless.menu.simplified.horizontal.wrap
      .desktop.laptop
        a.logo.item(href="index")
          img.logo.image(src="img/logo.png")
        include -level-one-nav
      .tablet.phone
        .ui.simple.dropdown.logo.item
          img.logo.image(src="img/logo.png")
          i.icon.dropdown
          .menu
            a.item(href="index") 首頁
            include -level-one-nav
      .right.menu
        .desktop.laptop
          a.item(href="join")
            i.icon.pointing.right
            | 加入行動
          a.item(href="partners")
            i.icon.announcement
            | 媒體與合作夥伴
          //-.ui.simple.dropdown.right.item
            i.icon.globe
            | 語言
            i.icon.dropdown
            .menu
              .item English
              .item 正體中文
          //-.right.item
            .ui.icon.input
              input(type='text',placeholder='')
              i.icon.search.link
        .tablet.phone
          //-.ui.simple.dropdown.right.item
            i.icon.ellipsis.vertical
            .menu
              .item
                .ui.icon.input
                  input(type='text',placeholder='')
                  i.icon.search.link
          a.item(href="join")
            i.icon.pointing.right
          a.item(href="partners")
            i.icon.announcement
          //-.ui.simple.dropdown.right.item
            i.icon.globe
            .menu
              .item English
              .item 正體中文
        block topbar

  block content

  footer#bottombar
    //-.ui.borderless.secondary.menu.simplified.horizontal.wrap
    .ui.borderless.menu.simplified.horizontal.wrap
      a.item(href='backers') 贊助者
      a.item(href='records') 會議記錄
      .right.menu
        a.item(href="about")
          span.phone
            i.icon.info
          span.desktop.laptop.tablet 關於 OCF.tw 野生官網
        a.ui.button.item(target="_blank",href="http://ocf.tw/")
          span.desktop.laptop.tablet.phone OCF.tw 官網
          //-i.icon.globe
