extends _template

block head
  link(rel="stylesheet",href="css/level-one.css")
  meta(property="og:image",content="img/cover.png")

  block subhead

block body

  nav#topbar
    //-.ui.borderless.secondary.menu.simplified.horizontal.wrap
    .ui.borderless.menu.simplified.horizontal.wrap
      .desktop.laptop
        a.logo.item(href="index")
          img.logo.image(src="img/logo.png")
        include -level-one-nav
      .tablet.phone
        .ui.simple.dropdown.logo.item
          img.logo.image(src="img/logo.png")
          i.icon.dropdown
          .menu
            a.item(href="index") 首頁
            include -level-one-nav
      .right.menu
        a.item(href="join")
          i.icon.pointing.right
          span.desktop.laptop 加入行動
        a.item(href="partners")
          i.icon.announcement
          span.desktop.laptop 媒體與合作夥伴
        //-.ui.simple.dropdown.right.item
          i.icon.globe
          | 語言
          i.icon.dropdown
          .menu
            .item English
            .item 正體中文
        //-.right.item
          .ui.icon.input
            input(type='text',placeholder='')
            i.icon.search.link
        block topbar

  block content

  footer#bottombar
    //-.ui.borderless.secondary.menu.simplified.horizontal.wrap
    .ui.borderless.menu.simplified.horizontal.wrap
      a.item(href='backers') 贊助者
      a.item(href='records') 會議記錄
      .right.menu
        a.item(href="about")
          span.phone
            i.icon.info
          span.desktop.laptop.tablet 關於 OCF.tw 野生官網
        a.ui.button.item(target="_blank",href="http://ocf.tw/")
          span.desktop.laptop.tablet.phone OCF.tw 官網
          //-i.icon.globe

  footer#footer
    .horizontal.wrap
      .ui.secondary.inverted.segment
        .ui.four.column.stackable.grid
          .eight.wide.column
            p 財團法人開放文化基金會於民國 103 年 6 月，由台北市政府文化局，北市文化文創字第10331440100號函核准成立，本基金會致力於推廣各類開放文化活動，包括: 開放源碼、開放標準、開放硬體、開放資料、開放系統等相關領域之活動。
          .column
            .ui.divided.list.inverted
              .item 統編：38552170
              .item 銀行：玉山銀行 (808) 南桃園分行
              .item 戶名：財團法人開放文化基金會
              .item 帳號：0842 940 010302
          .column
            p 桃園辦公室
            .ui.divided.list.inverted
              .item (330)桃園市桃園區中山路807號
              .item 電話：(03) 220 7480
              .item 傳真：(03) 220 1542
