extends _level-one

block subhead
  //-meta(property="og:image",content="img/cover.png")

block title
  | 媒體與合作夥伴 | 

block content
  #partners.horizontal.wrap

block script
  script.
    $(document).ready(function(){
      $("[href*='partners']").addClass("active");
    });

