extends _level-one

block subhead
  meta(property="og:image",content="img/logo.png")

block title
  | 工作計畫 | 

block content
  #plans.horizontal.wrap

block script
  script.
    $(document).ready(function(){
      $("[href*='plans']").addClass("active");
    });

