@charset "UTF-8";
html, body {
  font-family: "Noto Sans", "Noto Sans T Chinese", "微軟正黑體", sans-serif;
  color: #666666;
  font-size: 18px;
  background-color: #eeeeee;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  line-height: 1.7em;
  letter-spacing: 0.1em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.no.margin {
  margin: 0;
}

.float.right {
  float: right;
}

.float.left {
  float: left;
}

.align.center {
  text-align: center;
}

.inline.block {
  display: inline-block;
}

.clear.both {
  clear: both;
}

.horizontal.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.horizontal.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.left.padding {
  padding-left: 2rem;
}

.vertical.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.video.size {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
.video.size .video.fluid {
  position: relative;
  padding-top: 25px;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}
.video.size .video.fluid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spotlight {
  font-size: 1.2rem !important;
  color: black;
}

.menu.bar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.share.widget {
  display: inline-block;
}
.share.widget span.item {
  margin-right: 1rem;
}
.share.widget span.item:last-child {
  margin-right: 0;
}

.ui.list {
  line-height: 1.5rem;
}

.desktop, .laptop, .tablet, .phone {
  display: none !important;
}

@media screen and (min-width: 1440px) {
  .desktop {
    display: initial !important;
  }

  html, body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 840px) {
  .laptop {
    display: initial !important;
  }
}
@media screen and (max-width: 840px) and (min-width: 767px) {
  .tablet {
    display: initial !important;
  }

  html, body {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .phone {
    display: initial !important;
  }

  html, body {
    font-size: 14px;
  }
}
