.menu.simplified {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.menu.simplified .item:first-child, .menu.simplified .item:last-child {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#topbar, #bottombar {
  background-color: #f6f6f6;
}
#topbar .ui.menu, #bottombar .ui.menu {
  margin-bottom: 0;
}
#topbar .ui.menu .logo.image, #bottombar .ui.menu .logo.image {
  height: 2rem;
  display: inline;
}
#topbar .ui.menu .item, #bottombar .ui.menu .item {
  padding: 1rem 0.8rem;
}
#topbar .ui.menu .item.logo, #bottombar .ui.menu .item.logo {
  padding: 0.5rem 0.8rem;
}
#topbar .ui.menu .item.logo.dropdown.item > .icon, #bottombar .ui.menu .item.logo.dropdown.item > .icon {
  padding-top: 0.5rem;
}

#home ul.bxslider {
  margin: 0;
}
#home ul.bxslider img {
  margin: 0 auto;
}
#home #promote li {
  background-color: #333;
}

#about #content {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #FFF;
}
#about #content h1 {
  font-size: 2rem;
}

#news #header {
  height: 10rem;
  background-color: #f4f7d9;
}

#join #header {
  background-color: #fff;
}
#join #title {
  background-color: #f2c61f;
  text-align: center;
}
#join #subscribe {
  background-color: #333;
}
#join .card .image.photo {
  height: 8rem;
}
#join .card .image.photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
